<div class="row">
    <div class="col-md-12 text-center">
        <h2>Client's list</h2>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>email</th>
            <th>phone</th>
            <th>EDIT || DELETE</th>
        </thead>
        <tbody>
            <tr *ngFor="let client of client">
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.email}}</td>
                <td>{{client.phone}}</td>
                <td>
                    <a href="edit-client/{{client._id}}" class="btn btn-success">EDIT</a> | <button (click)="delClient(client)" class="btn btn-danger">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>